@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  @include mat.theme((
    typography: Roboto,
    density: 0,
  ));

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

.red-palette {
  @include mat.theme((
    color: mat.$red-palette,
  ))
}

.green-palette {
  @include mat.theme((
    color: mat.$green-palette,
  ))
}

.blue-palette {
  @include mat.theme((
    color: mat.$blue-palette,
  ))
}

.yellow-palette {
  @include mat.theme((
    color: mat.$yellow-palette,
  ))
}

.cyan-palette {
  @include mat.theme((
    color: mat.$cyan-palette,
  ))
}

.magenta-palette {
  @include mat.theme((
    color: mat.$magenta-palette,
  ))
}

.orange-palette {
  @include mat.theme((
    color: mat.$orange-palette,
  ))
}

.chartreuse-palette {
  @include mat.theme((
    color: mat.$chartreuse-palette,
  ))
}

.spring-green-palette {
  @include mat.theme((
    color: mat.$spring-green-palette,
  ))
}

.azure-palette {
  @include mat.theme((
    color: mat.$azure-palette,
  ))
}

.violet-palette {
  @include mat.theme((
    color: mat.$violet-palette,
  ))
}

.rose-palette {
  @include mat.theme((
    color: mat.$rose-palette,
  ))
}
