<div class="settings-container">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'SETTINGS_THEME_TITLE' | transloco }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group
        [ngModel]="selectedTheme()"
        (ngModelChange)="onThemeChange($event)"
      >
        @for (theme of availableThemes; track theme) {
          <mat-radio-button [value]="theme.propertyValue">{{ theme.translationKey | transloco }}</mat-radio-button>
        }
      </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'SETTINGS_PALETTE_TITLE' | transloco }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-select
        [ngModel]="selectedPalette()"
        (ngModelChange)="onPaletteChange($event)"
      >
        @for (palette of availablePalettes; track palette) {
          <mat-option [value]="palette.className">{{ palette.translationKey | transloco }}</mat-option>
        }
      </mat-select>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'SETTINGS_LANGUAGE_TITLE' | transloco }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-select
        [ngModel]="selectedLanguage()"
        (ngModelChange)="onLanguageChange($event)"
      >
        @for (language of availableLanguages(); track language.tag) {
          <mat-option [value]="language.tag">{{ language.displayName }}</mat-option>
        }
      </mat-select>
    </mat-expansion-panel>
  </mat-accordion>
</div>
