<div class="home-container">
  <mat-card class="home-card">
    @if (!shortLink()) {
      <mat-card-header>
        <mat-card-title class="home-card-title">Shorten long URL</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="onSubmit()">
        <mat-card-content class="home-card-content">
          <mat-form-field
            appearance="outline"
            hideRequiredMarker
          >
            <mat-label>Long URL</mat-label>
            <input
              matInput
              type="url"
              placeholder="https://example.com/very/long/example"
              [formControl]="longUrlForm"
              (blur)="updateErrorMessage()"
              required
            />
            @if (longUrlForm.value) {
              <button
                matIconButton
                matSuffix
                matTooltip="Clear"
                (click)="longUrlForm.reset()"
              >
                <mat-icon>close</mat-icon>
              </button>
            }
            <mat-hint align="start">A valid URL (starting with https://)</mat-hint>
            <mat-error>{{ errorMessage() }}</mat-error>
          </mat-form-field>
          <button
            matButton="filled"
            type="submit"
            [disabled]="longUrlForm.invalid"
          >
            Loom it!
          </button>
        </mat-card-content>
      </form>
    }
    @if (shortLink()) {
      <mat-card-header>
        <mat-card-title class="home-card-title">Your link is ready!</mat-card-title>
      </mat-card-header>
      <mat-card-content class="home-card-content">
        <div class="short-link-container">
          <a
            [href]="baseUrl + '/' + shortLink()!.shortCode"
            target="_blank"
          >
            {{ baseUrl }}/{{ shortLink()!.shortCode }}
          </a>
          <button
            matIconButton
            matTooltip="Copy to clipboard"
            [cdkCopyToClipboard]="baseUrl +'/' + shortLink()!.shortCode"
            (cdkCopyToClipboardCopied)="onCopy()"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <button
          matButton="outlined"
          (click)="resetCardContent()"
        >
          Shorten another link
        </button>
      </mat-card-content>
    }
  </mat-card>
</div>
