@use '@angular/material' as mat;

.home-card {
  height: 210px;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mat.card-overrides((
    title-text-size: 1.5rem,
    title-text-weight: 500
  ));

  @include mat.form-field-overrides((
    outlined-input-text-placeholder-color: rgba(255, 255, 255, 0.5)
  ));
}

.home-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.short-link-display {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 12px 16px;
  border-radius: 4px;
}

a {
  color: lightblue;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.1rem;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
