<div class="home-container">
  <mat-card class="home-card">
    @if (!shortLink()) {
      <mat-card-header>
        <mat-card-title class="home-card-title">{{ 'HOME_TITLE' | transloco }}</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="onSubmit()">
        <mat-card-content class="home-card-content">
          <mat-form-field
            appearance="outline"
            hideRequiredMarker
          >
            <mat-label>{{ 'HOME_INPUT_LABEL' | transloco }}</mat-label>
            <input
              matInput
              type="url"
              placeholder="https://example.com/very/long/example"
              [formControl]="longUrlForm"
              (blur)="updateErrorMessage()"
              required
            />
            @if (longUrlForm.value) {
              <button
                matIconButton
                matSuffix
                matTooltip="{{ 'HOME_CLEAR_INPUT_TOOLTIP' | transloco }}"
                (click)="longUrlForm.reset()"
              >
                <mat-icon fontIcon="close"></mat-icon>
              </button>
            }
            <mat-hint align="start">{{ 'HOME_INPUT_HINT' | transloco }}</mat-hint>
            <mat-error>{{ errorMessage() }}</mat-error>
          </mat-form-field>
          <button
            matButton="filled"
            type="submit"
            [disabled]="longUrlForm.invalid"
          >
            {{ 'HOME_SUBMIT_BUTTON' | transloco }}
          </button>
        </mat-card-content>
      </form>
    }
    @if (shortLink()) {
      <mat-card-header>
        <mat-card-title class="home-card-title">{{ 'HOME_RESULT_TITLE' | transloco }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="home-card-content">
        <div class="short-link-container">
          <a
            [href]="baseUrl + '/' + shortLink()!.shortCode"
            target="_blank"
          >
            {{ baseUrl }}/{{ shortLink()!.shortCode }}
          </a>
          <button
            matIconButton
            matTooltip="{{ 'HOME_RESULT_COPY_TOOLTIP' | transloco }}"
            [cdkCopyToClipboard]="baseUrl +'/' + shortLink()!.shortCode"
            (cdkCopyToClipboardCopied)="onCopy()"
          >
            <mat-icon fontIcon="content_copy"></mat-icon>
          </button>
        </div>
        <button
          matButton="outlined"
          (click)="resetCardContent()"
        >
          {{ 'HOME_RESULT_RESET_BUTTON' | transloco }}
        </button>
      </mat-card-content>
    }
  </mat-card>
</div>
