@use '@angular/material' as mat;

.home-container {
  height: calc(100dvh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  width: 75dvw;
}

.home-card-title {
  font: var(--mat-sys-headline-medium);
  font-weight: 500;
}

.home-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.short-link-container {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mat-sys-background);
  padding: 12px 16px;
  border-radius: 4px;
  margin-top: 16px;
}

a {
  color: var(--mat-sys-primary);
  font: var(--mat-sys-headline-small);
  font-family: monospace;
  text-decoration: none;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
