@use '@angular/material' as mat;

.redirect-container {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.state-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.redirecting-headline {
  font: var(--mat-sys-headline-medium);
  color: var(--mat-sys-on-surface-variant);
}
